body, html {
  padding: 0;
  margin: 0;
  font-family: Roboto, "Segoe UI", Tahoma, sans-serif;
  font-size: 13px;
}

body.mobile .desktop,
body.desktop .mobile,
body:not(.home) .home {
  display: none;
}

label {
  display: flex;
  justify-content: space-between;
  padding: 4px 12px;
  margin: 8px 0;
  cursor: pointer;
}

input[type=checkbox],
select {
  cursor: pointer;
}

section.group > label:not(.checkbox) {
  cursor: default;
}

input[type=checkbox] {
  margin-left: 12px;
}

section:not(:first-of-type) {
  border-top: 1px solid #f0f0f0;
}

section.group > section {
  margin-left: 40px;
}

section.group > label {
  margin-bottom: 12px;
}

section.group > section > * {
  color: rgb(95, 99, 104);
  padding-left: 0;
}

section.group > section > p {
  margin: 0 60px 12px 0;
  font-size: 12px;
}

/* Firefox overrides */
@-moz-document url-prefix() {
  body {
    font-family: inherit;
    font-size: 15px;
  }
  section:not(:first-of-type) {
    border-color: #d7d7db;
  }
  section.group > section > * {
    color: rgb(91, 91, 102);
  }
  section.group > section > p {
    font-size: 14px;
  }
}

/* Dark mode overrides */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #292a2d;
    color: #e8eaed;
  }
  section:not(:first-of-type) {
    border-color: #3f4042;
  }
  section.group > section > * {
    color: rgb(154, 160, 166);
  }

  /* Firefox dark mode overrides */
  @-moz-document url-prefix() {
    body {
      background-color: #23222b;
    }
    section:not(:first-of-type) {
      border-color: #4e4d54;
    }
    section.group > section > * {
      color: rgb(191, 191, 201);
    }
  }
}