* {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  cursor: default;
}
:root {
  color-scheme: light dark;
  --spacing: 20px;
}

html {
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--spacing);
  margin: 0 calc(var(--spacing));
  height: 100%;
  font: -apple-system-short-body;
  font-family: -apple-system, BlinkMacSystemFont, "Hiragino Sans", "Hiragino Kaku Gothic ProN", sans-serif;
  text-align: center;
}
body.platform-ios .platform-mac,
body.platform-mac .platform-ios,
body:not(.state-on, .state-off) :is(.state-on, .state-off),
body.state-on :is(.state-off, .state-unknown),
body.state-off :is(.state-on, .state-unknown) {
  display: none;
}

button {
  font-size: 1em;
}
ol {
  text-align: left;
}
strong {
  font-weight: 600;
}

[data-lang] {
  display: none;
}
body.lang-en [data-lang="en"],
body.lang-ja [data-lang="ja"] {
  display: block;
}

.no-wrap {
  display: inline-block;
}